<% layout(layout_directory+'/mainLayout') -%>
<div class="kt-subheader   kt-grid__item" id="kt_subheader">
  <div class="kt-subheader__main">
      <h3 class="kt-subheader__title">
          <%= page_title %>
      </h3>
      <span class="kt-subheader__separator kt-subheader__separator--v"></span>
  </div>
</div>

<div class="kt-content  kt-grid__item kt-grid__item--fluid" id="kt_content">
  <div class="row">
      <div class="col-lg-12">
          <div class="kt-portlet">
      <form class="kt-form kt-form--label-right" id="frmFAQsub" action="<%= generateUrl('sub-category.update') %> " method="POST" enctype='multipart/form-data'>
 
        <div class="kt-portlet__body">
          <div class="form-group row">
            <div class="col-lg-12">       

              <label>Category</label>
             
      <select name="categorytype" id="categorytype"  class="form-control" >

      
        <% data.map(data => {%> 
      <option value="<%= data._id%>" <% if (JSON.stringify(data._id) == JSON.stringify(response.category)){ %> selected <% } %> ><%= data.category%></option>
<!-- <option value="<%= data._id%>" <%= JSON.stringify(data._id) == JSON.stringify(response.category) ? 'selected' : '' %> ><%= data.category%></option> -->

       <%})%> 

      </select>        

            </div>
          </div>
        </div>
        <div class="kt-portlet__body">
            <div class="form-group row">
            <div class="col-lg-12">
              <label>Category</label>
              <input type="text" name="subcategory" id="subcategory" class="form-control" 
               placeholder="Enter SubCategory Name" value="<%= response.subcategory%>">
            </div>
            </div>
        </div>

        <div class="kt-portlet__foot">
          <div class="kt-form__actions">
            <div class="row">
              <div class="col-lg-6">
                <input type="hidden" name="id" value="<%= response._id%>">
                <button type="submit" class="btn btn-primary">Update</button>
                <a href="<%= generateUrl('sub-category.list') %>" class="btn btn-secondary">Cancel</a>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
  </div>
  </div>
  